@tailwind base;
@tailwind components;
@tailwind utilities;

.logoutButton {
  @apply w-full hover:bg-[#dc2626] hover:text-white;
}

.profileImgWrapper {
  @apply  w-[125px] h-[125px] rounded-full overflow-hidden mb-4 
  md:w-[175px] md:h-[175px] md:mb-6;
}
.profileImg {
  @apply w-full h-full object-cover object-top block;
}
.wrapper {
  @apply bg-white min-h-screen pt-8 px-8 pb-20 gap-16 sm:pt-20 px-8 bg-darkBlue;
}
.button-style-disabled {
  @apply  bg-[#7dd3fc]  rounded-lg my-2 font-bold py-2 px-4 rounded text-white border border-[#020617];
}

.return-btn {
  @apply font-bold py-2 px-4 rounded bg-[#dc2626] text-white rounded-lg my-2
  hover:bg-white 
  hover:text-[#dc2626] hover:border border-[#dc2626];
}
.text-error {
  @apply text-red-500 text-sm mb-2;
}
.button-style {
  @apply font-bold py-2 px-4 rounded text-white 
  bg-[#22d3ee] rounded-lg my-2 hover:bg-white 
  hover:text-[#22d3ee] hover:border border-[#22d3ee];
}
.label-style {
  @apply text-sm font-bold text-black;
}
.input-style {
  @apply w-full p-2 my-2 border border-gray-300 rounded-lg text-black  min-w-6;
}
.button-auth {
  @apply font-bold py-2 px-4 rounded text-white bg-black rounded-lg my-2
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

.odlWrapper {
  @apply grid grid-rows-[20px_1fr_20px] items-center justify-items-center min-h-screen p-8 pb-20 gap-16 sm:p-20 font-[family-name:var(--font-geist-sans)] bg-white;
}

.mainContent {
  @apply flex flex-col gap-8 row-start-2 items-center sm:items-center;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
